body {
    background-color: #f0bf7a;
    margin: 0 auto;
    width: 80%;
    text-align: center;     
  }
  
  header, body, footer {
    padding: 5px;
    border: 3px solid #B56B01;
  }

header {
    background-color: #B56B01;
  color: white;
  }
  .menu-knop {
    display: inline-block;
    background-color: #79502f;
    border-style: solid;
    border-width: 4px;
    border-color: #f0bf7a;
  }
  .menu-knop:hover {
    color: #1C1108;      }



  img{
    width: 120px;
    height: 120px;
  }

  footer {
  background-color: #B56B01;
  color: white;
}
tbody {
    border-color: #B56B01;
    border-width: 6px;
    text-align: center;
  }



table {
    border-color: #B56B01;
    border-width: 6px;
    margin: 0 auto;
    padding-bottom: 5px ;

  }
  th {
    background-color: #B56B01;
    color: white;
    border-color: #B56B01;
    border-width: 6px;
  }

  td:hover {
    background-color: #B56B01;
  }



  input, textarea {
    border: 2px solid rgb(0, 0, 0);
  }

  input[type="submit"]:active {
    background-color: #b50101;
  }
